* {
  margin: 0;
}
.app {
  min-height: 100vh;
  background: #424242;
  .tool-container {
    display: flex;
    justify-content: center;
    .asset-input {
      margin-top: 20px;
      background: rgb(241, 239, 239);
      width: 100px;
      height: 20px;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    .pair-btn {
      height: 25px;
      border-radius: 5px;
      margin: 20px 15px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      background: rgb(22, 68, 22);
      &:hover {
        opacity: .8;
      }
    }
  }
  .pairs-header  {
    text-align: center;
    color: #fff;
  }
  .loader {
    display: block;
    margin: 0 auto;
  }
}
