* {
  margin: 0;
}
.app {
  min-height: 100vh;
  background: #424242;
  .tool-container {
    display: flex;
    justify-content: center;
    .asset-input {
      margin-top: 20px;
      background: rgb(241, 239, 239);
      height: 20px;
      outline: none;
      border: none;
      border-radius: 4px;
      margin-right: 25px;
    }
    .pair-btn {
      height: 25px;
      border-radius: 5px;
      margin-top: 20px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      background: rgb(22, 68, 22);
      &:hover {
        opacity: .8;
      }
    }
    .limit-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-right: 20px;
      .limit-input {
        border: none;
        outline: none;
        background: #0052cc;
      }
      .limit {
        font-size: 18px;
        color: white;
        margin-left: 10px;
      }
    }
  }
  .pairs-header  {
    text-align: center;
    color: #fff;
    margin-top: 100px;
  }
  .loader {
    display: block;
    margin: 0 auto;
  }
}
