* {
  margin: 0;
}
.app {
  min-height: 100vh;
  background: #424242;
  .tool-container {
    display: flex;
    justify-content: center;
    .asset-input {
      margin-top: 20px;
      background: rgb(190, 189, 189);
      width: 100px;
      height: 20px;
      outline: none;
      border: none;
    }
    .pair-btn {
      height: 25px;
      border-radius: 5px;
      margin: 20px 15px;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
    }
    .pair-btn:hover {
      opacity: .8;
    }
    #get {
      background: rgb(22, 68, 22);
    }
    #clear {
      background: rgb(88, 11, 11);
    }
  }
  .loader {
    display: block;
    margin: 0 auto;
  }
}
